# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules & Builds
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Medien im Backend ignorieren
backend/public/images/**
!backend/public/images/.gitkeep
!backend/public/images/thumbnails/.gitkeep

# Scenes.json ignorieren, da keine scenes mit ausgespielt werden, datei wird beim upload automatisch erezeugt
backend/data/scenes.json